.clientes-asignar-tags{
    .status{
        @include rem(font-size, 10px);
        max-height: 50vh;
        overflow-y: scroll;
    }

    h2{
        margin-top: 0
    }
    .tag-item{
        background-color: white;
        display: block;
        float: left;
        padding: 3px;
        cursor: pointer;
    }

    //Elypssis hover last column cells
    // .ag-cell:last-child:hover{
    //     background-color: white;
    //     display: block;
    //     display: inline-block;
    //     height: 15vh;
    //     max-width: 21.5vw;
    //     overflow:auto;
    //     white-space: nowrap;
    //     z-index: 5000;
    // }

    .el-card__body{
        padding: 0;
    }
    .modal-instructions{
        @include rem(padding, 20px 0);
        display: block;
        text-align: center;
        width: 100%;

        .el-date-editor{
            margin: auto
        }
    }
}
