/** Navigation component rules ***/

.navigation {
    .to-right {
        float: right !important;
    }
    .list-group-item-text {
        color: #88acbe;
    }
    .el-tabs__nav {
        float: right;
        a {
            height: 100%;
            display: block;
        }
    }
    .el-tabs__content {
        display: none
    }
    div.el-tabs__header {
        border-bottom: none;
        margin: 0;
        &:before {
            content: " ";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 1px solid transparent;
            border-image: linear-gradient(to right, white 0%, #e0d1e5 100%);
            border-image-slice: 1;
            width: 80%;
        }
    }
    .el-menu {
        background-color: #210d38;
    }
    .side-menu {
        position: absolute;
        z-index: 100;
        ul.el-menu {
            z-index: 100;
            position: relative;
            .el-submenu {
                .el-submenu__title {
                    min-height: 13vh;
                }
            }
            .el-menu-item,
            .el-submenu {
                min-height: 12.3vh;
                .title {
                    clear: both;
                    font-weight: bold;
                    @include rem(font-size, 18px);
                    color: #ffffff;
                    text-transform: capitalize;
                    span.icon {
                        color: #ffffff;
                    }
                }
                .description {
                    clear: both;
                    display: block;
                    line-height: 0;
                    color: #ffffff;
                }
                & .el-menu-item {
                    clear: both;
                    min-height: 0.5vh;
                }
                .el-menu-item-group__title {
                    padding: 0;
                    height: 10px !important;
                }
            }
            .el-menu-item+.el-menu-item {
                //border: 4px dotted #000000;
            }
        }
        div.background {
            position: absolute;
            z-index: 50;
            height: 80vh;
            width: 100vw;
            left: 0;
        }
        i{
            min-width: 2vw
        }
    }
    div.el-breadcrumb {
        @include rem(padding, 10px 0 0px 40px);
    }

    .side-menu ul.el-menu .el-menu-item, .navigation .side-menu ul.el-menu .el-submenu {
        min-height: 30px;
    }

    .navigation .side-menu ul.el-menu .el-submenu .el-submenu__title {
        min-height: 1vh;
    }

    .el-breadcrumb__item > *{
        vertical-align: top;
    }
}
