.tags {
    .el-card__body {
        padding: 0;
    }

    .el-card__body {
        .ag-cell[colid=payload]{
                text-align: center;
        }
    }

    .color-demo{
        @include rem(min-height, 20px);
        @include rem(width, 100px);
        text-align: center;
        margin: auto;
    }
}
