/** Topbar component rules ***/

.topbar {
    // max-height: 6vh;
    @include rem(max-height, 60px)
    li.el-menu-item,
    li.el-submenu {
        //width: 100%;
    }

    form.el-form{
        .el-form-item{
            margin: 0;
            padding: 1.8vh 0;
        }
    }

    .el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item,
    .el-menu--horizontal.el-menu--dark .el-submenu .el-submenu-title {
        color: #ffffff !important;
        background-color: #210D38;
        max-height: 6vh;
    }
    .el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item:hover {
        color: #210D38 !important;
        background-color: #ffffff;
    }
    img.user_picture {
        display: block;
        height: 90%;
        float: left;
        @include rem(padding, 5px 25px 5px 0);
    }
    .input-expandable {
        @include transition( all 0.4s);
        max-width: 21vw;
        float: right;
        @include rem(margin, 12px);
    }
    .input-expandable:hover {
        width: 25vw;
        max-width: 25vw;
    }
    .el-menu--horizontal .el-submenu {
        float: right;
        margin-right: 2vw;
    }

    .el-select .el-input {
        width: 120px;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif !important;
    }

}
