/** Usuarios component rules ***/

.usuarios {
  @include rem(margin-top, 10px);
  text-align: center;
  .form {
    height: 60rem;
    label {
      color: #2b3e50;
    }
  }
  .controls {
    button {
      float: left;
    }
  }
  button.header-button {
    float: left;
    margin-bottom: 2vh;
  }
  .el-popover {
    text-align: center;
    button {
      display: block;
      margin: auto;
    }
  }
}