.ag-blue {
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    font-size: 10pt;
    color: #351f3d;
  }

  .ag-blue .ag-header-row {
      font-weight: bold;
      color: #351f3d;          
      background: #f5eef6 !important;
  }
 .ag-blue .ag-header-container {
  background: #f6f6f6 !important;
}
  .ag-blue .ag-root {
    border: 1px solid #e8dfec;
  }

.ag-blue .ag-cell-range-selected-1:not(.ag-cell-focus) {
  background-color: rgba(120,120,120,0.4);
}
.ag-blue .ag-cell-range-selected-2:not(.ag-cell-focus) {
  background-color: rgba(80,80,80,0.4);
}
.ag-blue .ag-cell-range-selected-3:not(.ag-cell-focus) {
  background-color: rgba(40,40,40,0.4);
}
.ag-blue .ag-cell-range-selected-4:not(.ag-cell-focus) {
  background-color: rgba(0,0,0,0.4);
}
.ag-blue .ag-cell-focus {
  border: 2px solid #217346;
}
.ag-blue .ag-cell-no-focus {
  border-bottom: 1px dotted #e8dfec;
}
.ag-blue .ag-ltr .ag-cell-no-focus {
  border-right: 1px dotted #e8dfec;
}
.ag-blue .ag-rtl .ag-cell-no-focus {
  border-left: 1px dotted #e8dfec;
}
.ag-blue .ag-rtl .ag-cell-first-right-pinned {
  border-left: 1px solid #e8dfec;
}
.ag-blue .ag-ltr .ag-cell-first-right-pinned {
  border-left: 1px solid #e8dfec;
}
.ag-blue .ag-rtl .ag-cell-last-left-pinned {
  border-right: 1px solid #e8dfec;
}
.ag-blue .ag-ltr .ag-cell-last-left-pinned {
  border-right: 1px solid #e8dfec;
}
.ag-blue .ag-cell-highlight {
  border: 1px solid #006400;
}

.ag-blue .ag-value-change-value-highlight {
  background-color: #cec;
}
.ag-blue .ag-rich-select {
  border: 1px solid #e8dfec;
  background-color: #fff;
}

.ag-blue .ag-rich-select-list {
  border-top: 1px solid #d3d3d3;
}

.ag-blue .ag-rich-select-row-selected {
  background-color: #c7c7c7;
}
.ag-blue .ag-large-text {
  border: 1px solid #e8dfec;
}

.ag-blue .ag-header {
    color: #fff;
    background: #f5eef6 !important;
    border-bottom: 1px solid #e8dfec;
    font-weight: 600;
}

.ag-blue .ag-header-icon {
  color: #b697be;
  stroke: none;
  fill: #b697be;
}
.ag-blue .ag-layout-for-print .ag-header-container {
  background: #f5eef6;
  border-bottom: 1px solid #e8dfec;
}
.ag-blue .ag-ltr .ag-header-cell {
  border-right: 1px solid #e8dfec;
}
.ag-blue .ag-rtl .ag-header-cell {
  border-left: 1px solid #e8dfec;
}

.ag-blue .ag-header-cell-moving {
  background-color: #bebebe;
}
.ag-blue .ag-ltr .ag-header-group-cell {
  border-right: 1px solid #e8dfec;
}
.ag-blue .ag-rtl .ag-header-group-cell {
  border-left: 1px solid #e8dfec;
}
.ag-blue .ag-header-group-cell-with-group {
  border-bottom: 1px solid #e8dfec;
}

.ag-blue .ag-ltr .ag-pinned-right-header {
  border-left: 1px solid #e8dfec;
}
.ag-blue .ag-rtl .ag-pinned-left-header {
  border-right: 1px solid #e8dfec;
}
.ag-blue .ag-header-cell-menu-button:hover {
  border: 1px solid #e8dfec;
}
.ag-blue .ag-body {
  background-color: #f6f6f6;
}
.ag-blue .ag-row-odd {
  background-color: #fdfafd;
}
.ag-blue .ag-row-even {
  background-color: #fff;
}
.ag-blue .ag-row-selected {
  background-color: #c7c7c7;
}
.ag-blue .ag-row-stub {
  background-color: #f0f0f0;
}

.ag-blue .ag-floating-top .ag-row {
  background-color: #f0f0f0;
}
.ag-blue .ag-floating-bottom .ag-row {
  background-color: #f0f0f0;
}
.ag-blue .ag-overlay-loading-wrapper {
  background-color: rgba(255,255,255,0.5);
}
.ag-blue .ag-overlay-loading-center {
  background-color: #fff;
  border: 1px solid #e8dfec;
  color: #000;
}
.ag-blue .ag-overlay-no-rows-center {
  background-color: #fff;
  border: 1px solid #e8dfec;

}
.ag-blue .ag-group-cell-entire-row {
  background-color: #f6f6f6;
}
.ag-blue .ag-footer-cell-entire-row {
  background-color: #f6f6f6;
}

.ag-blue .ag-menu {
  border: 1px solid #808080;
  background-color: #f6f6f6;
}
.ag-blue .ag-menu .ag-tab-header {
  background-color: #f5eef6;
}

.ag-blue .ag-menu .ag-tab-selected {
  background-color: #e8dfec;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}
.ag-blue .ag-menu-separator {
  border-top: 1px solid #d3d3d3;
}
.ag-blue .ag-menu-option-active {
  background-color: #c7c7c7;
}

.ag-blue .ag-filter-header-container {
  border-bottom: 1px solid #d3d3d3;
}
.ag-blue .ag-filter-apply-panel {
  border-top: 1px solid #d3d3d3;

}

.ag-blue .ag-tool-panel {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e8dfec;
  border-top: 1px solid #e8dfec;
  color: #222;
}
.ag-blue .ltr .ag-tool-panel {
  border-right: 1px solid #e8dfec;
}
.ag-blue .rtl .ag-tool-panel {
  border-left: 1px solid #e8dfec;
}
.ag-blue .ag-status-bar {
  color: #222;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e8dfec;
  border-left: 1px solid #e8dfec;
  border-right: 1px solid #e8dfec;
}

.ag-blue .ag-column-drop-cell {
  background: #fdfafd;
  color: #000;
  border: 1px solid #808080;
}

.ag-blue .ag-column-drop-cell-button:hover {
  border: 1px solid #e8dfec;
}
.ag-blue .ag-column-drop-empty-message {
  color: #808080;
}

.ag-blue .ag-column-drop {
  background-color: #f6f6f6;
}
.ag-blue .ag-column-drop-horizontal {
  border-top: 1px solid #e8dfec;
  border-left: 1px solid #e8dfec; 
  border-right: 1px solid #e8dfec; 
}
.ag-blue .ag-column-drop-vertical {
  padding: 4px 4px 10px 4px;
  border-bottom: 1px solid #e8dfec;
}

.ag-blue .ag-pivot-mode {
  border-bottom: 1px solid #e8dfec;
  background-color: #f6f6f6;
}
.ag-blue .ag-tool-panel .ag-column-select-panel {
  border-bottom: 1px solid #e8dfec;
}
.ag-blue .ag-select-agg-func-popup {
  background-color: #fff;
  border: 1px solid #e8dfec;
}

.ag-blue .ag-select-agg-func-item:hover {
  background-color: #c7c7c7;
}
.ag-blue .ag-floating-filter-button {
  background-color: #fff;
  color: #222;
}
.ag-blue .ag-floating-filter-body input {
  background-color: #fff;
  color: #222;
}
